<html>
  <head>
    <meta
      name="viewport"
      content="with=device-width, initial
scale=1.0"
    />
    <title>Nand Gokulam Punpun</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" type="text/css" href="gallery.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Dokdo"
      rel=" stylesheet"
    />
  </head>

  <body>
    <section class="header-gallery">
      <nav>
        <a href="index"> <img src="resources/img/Nandgokulaam.jpg" /> </a>
        <div class="nav-links" id="navLinks">
          <i class="fa fa-times" onclick="hideMenu()"></i>
          <ul>
            <b>
              <li><a href="index">HOME</a></li>
              <li><a href="about_us">ABOUT</a></li>
              <li><a href="">SUBJECTS</a></li>
              <li><a href="gallery">GALLERY</a></li>
              <li><a href="contact">CONTACT</a></li>
            </b>
          </ul>
        </div>
        <i class="fa fa-bars" onclick="showMenu()"></i>
      </nav>
      <h1 class="name">NAND GOKULAM</h1>
      <br />
      <div class="text-box">
        <header>
          <hr />
          <h1>Our Gallery</h1>
          <hr />
        </header>
        <p>
          <b
            >Assure your SUCCESS with the BEST ACADEMIC SYSTEM <br />and
            FACULTIES at #NAND GOKUMAM
          </b>
        </p>
        <b> <a href="" class="hero-btn">Visit Us To know More</a> </b>
      </div>
    </section>

    <!------gallery----->

    <section class="facilities">
      <header>
        <hr />
        <h1><b> Our Result</b></h1>
        <hr />
        <br />

        <hr />
        <h3>Result of batch 2018-19</h3>
        <hr />
      </header>
      <div class="row">
        <div class="facilities-col">
          <a href="result5.jpg"> <img src="resources/img/result5.jpg" /> </a>
        </div>

        <div class="facilities-col">
          <a href="result4.jpg"> <img src="resources/img/result4.jpg" /> </a>
        </div>
      </div>
      <header>
        <hr />
        <h3>Result of batch 2019-20</h3>
        <hr />
        <br />
      </header>
      <div class="row">
        <div class="facilities-col">
          <a href="result1.jpg"> <img src="resources/img/result1.jpg" /> </a>
        </div>

        <div class="facilities-col">
          <a href="result2.jpg"> <img src="resources/img/result2.jpg" /> </a>
        </div>

        <div class="facilities-col">
          <a href="result3.jpg"> <img src="resources/img/result3.jpg" /> </a>
        </div>
      </div>
    </section>

    <!------ <div class="gallery";>----->
    <section class="facilities">
      <header>
        <hr />
        <h1>Photo Gallery</h1>
      </header>
      <hr />

      <div class="row">
        <div class="facilities-col">
          <a href="pic15.jpg"> <img src="resources/img/pic15.jpg" /> </a>
        </div>

        <div class="facilities-col">
          <a href="pic2.jpg"> <img src="resources/img/pic2.jpg" /> </a>
        </div>

        <div class="facilities-col">
          <a href="pic3.jpg"> <img src="resources/img/pic3.jpg" /> </a>
        </div>
      </div>

      <div class="row">
        <div class="facilities-col">
          <a href="pic4.jpg"> <img src="resources/img/pic4.jpg" /> </a>
        </div>

        <div class="facilities-col">
          <a href="pic5.jpg"> <img src="resources/img/pic5.jpg" /> </a>
        </div>

        <div class="facilities-col">
          <a href="pic6.jpg"> <img src="resources/img/pic6.jpg" /> </a>
        </div>
      </div>

      <div class="row">
        <div class="facilities-col">
          <a href="pic7.jpg"> <img src="resources/img/pic7.jpg" /> </a>
        </div>

        <div class="facilities-col">
          <a href="pic8.jpg "> <img src="resources/img/pic8.jpg " /> </a>
        </div>

        <div class="facilities-col">
          <a href="pic9.jpg "> <img src="resources/img/pic9.jpg " /> </a>
        </div>
      </div>
      <section class="send-image">
        <br />
        <br /><b>
          <p>
            Send images to add here<br /><a
              href="mailto:akshayweb.07.12@gmail.com
          "
              class="hero-btn"
              class="button"
              >SEND IMAGES
            </a>
          </p>
        </b>
      </section>
      <div class="row">
        <div class="facilities-col">
          <a href="pic10.jpg "> <img src="resources/img/pic10.jpg " /> </a>
        </div>

        <div class="facilities-col">
          <a href="pic13.jpg "> <img src="resources/img/pic13.jpg " /> </a>
        </div>

        <div class="facilities-col">
          <a href="pic12.jpg "> <img src="resources/img/pic12.jpg " /> </a>
        </div>
      </div>

      <div class="row">
        <div class="facilities-col">
          <a href="pic11.jpg "> <img src="resources/img/pic11.jpg " /> </a>
        </div>

        <div class="facilities-col">
          <a href="pic14.jpg "> <img src="resources/img/pic14.jpg " /> </a>
        </div>

        <div class="facilities-col">
          <a href="pic1.jpg "> <img src="resources/img/pic1.jpg " /> </a>
        </div>
      </div>
    </section>

    <!----footer---->

    <section class="footer">
      <header>
        <h2>About Us</h2>
        <hr />
      </header>
      <p>
        We are dedicated to providing the best educational experience for our
        students.
      </p>
      <div class="icons">
        <ul>
          <li>
            <a href="https://www.facebook.com/profile.php?id=100018837005454">
              <i class="fa fa-4x fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="https://instagram.com/akshay_07_12?utm_medium=copy_link">
              <i class="fa fa-4x fa-instagram"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-4x fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="https://wa.me/+917488337430">
              <i class="fa fa-4x fa-whatsapp"></i>
            </a>
          </li>
        </ul>
      </div>
      <hr />
      <p>
        <b
          >Made with <i class="fa fa-1.5x fa-heart-o"></i> by "Akshay Kumar"
          student of Nand Gokulam</b
        >
      </p>
      <hr />
    </section>

    <script>
      var navLinks = document.getElementById("navLinks");

      function showMenu() {
        navLinks.style.right = "0";
      }

      function hideMenu() {
        navLinks.style.right = "-200px";
      }
    </script>
  </body>
</html>
