<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nand Gokulam Punpun</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/style.css" />
  </head>

  <body>
    <section class="header">
      <nav>
        <a href="index"> <img src="resources/img/Nandgokulaam.jpg" /> </a>
        <div class="nav-links" id="navLinks">
          <i class="fa fa-times" onclick="hideMenu()"></i>
          <ul>
            <b>
              <li><a href="index">HOME</a></li>
              <li><a href="about_us">ABOUT</a></li>
              <li><a href="">SUBJECTS</a></li>
              <li><a href="gallery">GALLERY</a></li>
              <li><a href="contact">CONTACT</a></li>
            </b>
          </ul>
        </div>
        <i class="fa fa-bars" onclick="showMenu()"></i>
      </nav>
      <h1 class="name">NAND GOKULAM</h1>
      <br />
      <div class="text-box">
        <header>
          <hr />
          <h1>Patna's Famous Coaching</h1>
          <hr />
        </header>
        <p>
          <b
            >Assure your SUCCESS with the BEST ACADEMIC SYSTEM <br />and
            FACULTIES at #NAND GOKUMAM
          </b>
        </p>
        <b> <a href="" class="hero-btn">Visit Us To know More</a> </b>
      </div>
    </section>

    <!----subjects---->
    <section class="subject">
      <header>
        <hr />
        <h1>Subject We Offer</h1>
        <hr />
      </header>
      <header>
        <p>We offer subjects like:</p>
      </header>

      <div class="row">
        <div class="subject-col">
          <h3>For Class 5<sup>th</sup> to 8<sup>th</sup></h3>
          <hr />
          <p>
            For these grade students we offer subjects like: Science, Maths,
            English, Social Science, Computer of all Board i.e. CBSE and ICSE.
          </p>
        </div>
        <div class="subject-col">
          <h3>For Class 9<sup>th</sup> and 10<sup>th</sup></h3>
          <hr />
          <p>
            For these grade students we offer subjects like: Physics, Chymestey,
            Maths, Biology, English, Social Science, Computer of all Board i.e.
            CBSE and ICSE.
          </p>
        </div>
        <div class="subject-col">
          <h3>For Class 11<sup>th</sup> and 12<sup>th</sup></h3>
          <hr />
          <p>
            For these grade students we offer subjects like: Physics and Maths
            only.
          </p>
        </div>
      </div>
    </section>
    <!----CLASS ROOM---->
    <section class="room">
      <header>
        <hr />
        <h1>Our Class Room</h1>
        <hr />
      </header>
      <header>
        <p>We have a big ac class rooms with projectors</p>
      </header>
      <div class="row">
        <div class="room-col">
          <img src="resources/img/class1.jpg" />
          <div class="layer">
            <h3>
              <hr />
              NAND GOKULAM CLASSES
              <hr />
            </h3>
          </div>
        </div>
        <div class="room-col">
          <img src="resources/img/class2.jpg" />
          <div class="layer">
            <h3>
              <hr />
              NAND GOKULAM CLASSES
              <hr />
            </h3>
          </div>
        </div>
        <div class="room-col">
          <img src="resources/img/class3.jpg" />
          <div class="layer">
            <h3>
              <hr />
              NAND GOKULAM CLASSES
              <hr />
            </h3>
          </div>
        </div>
      </div>
    </section>

    <!----Facilits---->
    <section class="facilities">
      <header>
        <hr />
        <h1>Our Facilities</h1>
        <hr />
      </header>
      <header>
        <p>We have many facilities like:</p>
      </header>
      <div class="row">
        <div class="facilities-col">
          <img src="resources/img/1library.jpg" />
          <h3>Our Library</h3>
          <p>We have the best liberary in our city</p>
        </div>
        <div class="facilities-col">
          <img src="resources/img/projector.jpg" />
          <h3>Our Projector</h3>
          <p>Our class room is equipped with latest technology</p>
        </div>
        <div class="facilities-col">
          <img src="resources/img/exam.jpg" />
          <h3>Our Test Pattern</h3>
          <p>
            We take tests after every chapters, which helps students in
            learning.
          </p>
        </div>
      </div>
    </section>
    <!----TESTIMONIAL----->
    <section class="testimonials">
      <header>
        <hr />
        <h1>What Our Student Says</h1>
        <hr />
      </header>
      <header>
        <p>Here are some review given by the students</p>
      </header>
      <div class="row">
        <div class="testimonials-col">
          <img src="resources/img/akshay.jpg" />
          <div>
            <p>
              This is the best place for study. Faculties are also very good.
            </p>
            <h3>Akshay Kumar</h3>
            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
          </div>
        </div>
        <div class="testimonials-col">
          <img src="resources/img/gaurav.jpg" />
          <div>
            <p>
              All faculties are good but I found Maths and Bio. faculties
              excellent!
            </p>
            <h3>Gaurav</h3>
            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </div>
        </div>
      </div>
    </section>
    <!----Call To Action---->
    <section class="cta">
      <h1>
        Enroll For Our Various Online Courses <br />Anywhere From The World
      </h1>
      <a href="" class="hero-btn"> CONTACT US</a>
    </section>

    <!----footer---->
    <section class="footer">
      <header>
        <h2>About Us</h2>
        <hr />
      </header>
      <p>
        We are dedicated to providing the best educational experience for our
        students.
      </p>
      <div class="icons">
        <ul>
          <li>
            <a href="https://www.facebook.com/profile.php?id=100018837005454">
              <i class="fa fa-4x fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="https://instagram.com/akshay_07_12?utm_medium=copy_link">
              <i class="fa fa-4x fa-instagram"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-4x fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="https://wa.me/+917488337430">
              <i class="fa fa-4x fa-whatsapp"></i>
            </a>
          </li>
        </ul>
      </div>
      <hr />
      <p>
        <b
          >Made with <i class="fa fa-1.5x fa-heart-o"></i> by "Akshay Kumar"
          student of Nand Gokulam</b
        >
      </p>
      <hr />
    </section>

    <script>
      var navLinks = document.getElementById("navLinks");

      function showMenu() {
        navLinks.style.right = "0";
      }

      function hideMenu() {
        navLinks.style.right = "-200px";
      }
    </script>
  </body>
</html>
