.red-btn {
	display: inline-block;
	text-decoration: none;
	color: #f44336;
	border: 1px solid #f44336;
	border-radius: 15px;
	padding: 12px 34px;
	font-size: 20px;
	background: transparent;
	position: relative;
	cursor: pointer;
}

.red-btn:hover {
	border: 5px solid black;
	color: #fff;
	background: #f44336;
	transition: 1s;
}

.contact-us {
	width: 80%;
	margin: auto;
}

.contact-col {
	flex-basis: 48%;
	margin-bottom: 30px;
}

.contact-col div {
	display: flex;
	align-items: center;
	margin-bottom: 40px;
}

.contact-col div .fa {
	font-size: 28px;
	color: #f44336;
	margin: 10px;
	margin-right: 30px;
}

.contact-col div p {
	padding: 0;
}

.contact-col div h5 {
	font-size: 20px;
	margin-bottom: 5px;
	color: #555;
	font-weight: 400;
}

.contact-col input {
	width: 100%;
	padding: 15px;
	margin-bottom: 17px;
	outline: none;
	border: 1px solid #ccc;
}

.contact-col textarea {
	width: 100%;
	padding: 15px;
	margin-bottom: 17px;
	outline: none;
	border: 1px solid #ccc;
}